:root {
  --green: #016a70;
  --white: #ffffff;
  --black: #202020;
  --fade: #10101045;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Login */
.container {
  background-color: var(--fade);
}

.login-card {
  width: 297px;
  height: 450px;
  border-radius: 8px;
}

.btn-prim {
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
}

.btn-prim:hover {
  background-color: #ffffff;
  border: 1px solid var(--green);
  transition: 0.2s;
}

.form-text {
  font-size: 11px;
}
/* End Login */

/* Navbar */
.navbar {
  background-color: var(--green);
  border-radius: 0 0 5px 5px;
}

.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  height: 75vh;
  align-items: center;
  background-color: var(--fade);
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.content h1 {
  font-size: 2em;
}

.content button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 30px;
}

/* End Navbar */

.section-head p {
  font-size: 14px;
  font-weight: 600;
}

.section-head a {
  font-size: 12px;
  color: #aaa;
  text-decoration: none;
}

/* Section New */
.new-product {
  min-height: 275px;
  background-color: #eee;
}

.card-product span {
  font-size: 12px;
  max-width: 150px;
  margin: 4px 0 4px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card-product img {
  max-width: 165px;
  max-height: 165px;
  object-fit: cover;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 0;
}

.scrolling-wrapper .card {
  min-width: 155px;
  min-height: 225px;
}

/* End Section New */

/* Start Section Banner  */
.banner {
  height: 150px;
  padding: 20px;
  background-color: var(--fade);
  background-image: url(../img/banner-bg.png);
}

.banner span {
  font-size: 12px;
}

.banner h4 {
  font-size: 16px;
}

.banner a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  font-size: 9px;
}
/* End Section Banner */

.section-product {
  background-color: #eee;
  border-radius: 5px 5px 0 0;
}

.section-product .sort-by select {
  width: 80px;
  height: 30px;
  font-size: 12px;
}

.card-product {
  max-height: 231px;
  max-width: 165px;
  width: 165px;
  height: 231px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.card-product .card-body span.nama {
  font-size: 12px;
  font-weight: 600;
}

.card-product .card-body span.harga {
  color: var(--green);
  font-size: 12px;
}

.card-product .card-body span.diskon {
  font-size: 12px;
}

.section-toko {
  min-height: 88vh;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
}

.card-toko {
  max-height: 75px;
  background-color: #d9d9d9;
  border: none;
  box-shadow: 1px 1px 2px 0px rgba(20, 20, 20, 0.25);
}

.btn-visit {
  padding: 0;
  width: 65px;
  height: 25px;
  background-color: var(--green);
  color: var(--white);
  font-size: 12px;
}

.card-toko .nama {
  font-size: 12px;
}

.card-toko .nama .jml-product {
  color: var(--green);
  font-weight: 600;
}

.header-toko .card {
  box-shadow: none;
}

.nav .nav-item button {
  width: 75px !important ;
  padding: 5px;
  background-color: #eee;
  color: var(--black);
  font-size: 12px;
}

.nav .active {
  background-color: var(--green) !important;
}

.tab-content {
  background-color: #eee;
  min-height: 75vh;
}

.tab-pane p {
  font-size: 12px;
}

.foto-produk {
  position: relative;
  height: 350px;
}

.carousel-item img {
  display: block;
  object-fit: cover;
}

.close {
  position: absolute;
  font-size: 35px;
  top: 11px;
  left: 11px;
  color: var(--black);
  opacity: 0.5;
  z-index: 10;
}

.data-produk {
  min-height: 65vh;
  background-color: #eee;
  box-shadow: 1px 1px 2px 0px rgba(20, 20, 20, 0.25);
}

.deskripsi-produk {
  font-size: 12px;
}

.btn-success {
  width: 65px;
  height: 20px;
  padding: 0;
  font-size: 12px;
  background-color: #d9d9d9;
  color: var(--black);
  border: none;
}

.btn-check:active + .btn-success,
.btn-check:checked + .btn-success,
.btn-success.active,
.btn-success:active,
.show > .btn-success.dropdown-toggle {
  background-color: var(--green) !important;
  color: var(--white);
  border: none;
}

.pesan-produk {
  height: 60px;
  background-color: #eee;
}

.btn-slide {
  font-size: 35px;
  color: var(--black);
  opacity: 0.15;
}
